<ion-view view-title="Recuperar Contraseña">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Correo</span>
        <input type="text" ng-model="forgot.mail">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="submit()">
        Enviar Contraseña
      </button>
      <button class="button button-block button-royal" ng-click="cancel()">
        Volver
      </button>
    </div>
  </ion-content>
</ion-view>
